class Variables {
    String name;
    int int_num1;
    byte byte_num2;
    static double double_num3;
    static boolean boolean_false;
}

public class Main {
    public static void main(String[] args) {
        Variables variables = new Variables();
        float float_num4 = 3.14f;
        char char_A = 'A';

        variables.name = "John";
        variables.int_num1 = 10;
        variables.byte_num2 = 5;
        Variables.double_num3 = 2.71828;
        Variables.boolean_false = false;

        System.out.println("Name: " + variables.name);
        System.out.println("int_num1: " + variables.int_num1);
        System.out.println("byte_num2: " + variables.byte_num2);
        System.out.println("double_num3: " + Variables.double_num3);
        System.out.println("boolean_false: " + Variables.boolean_false);
        System.out.println("float_num4: " + float_num4);
        System.out.println("char_A: " + char_A);
    }
}
